.PlayButton {
	color: #fff;
	background-color: #808080;
	width: 21px;
	height: 21px;
	text-align: center;
	border-radius: 2px;
	padding: 2px;
	font-size: 17px;
	user-select: none;
}

.PlayButton:hover {
	background-color: #b2b2b2;
}

.Overlay {
	background-color: black;
	opacity: 0.75;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.VideoPlayer {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
}

.VideoContainer {
	position: relative;
	align-self: center;
	width: 75%;
	height: 75%;
}

.VideoElement {
	object-fit: contain;
	width: 100%;
	height: 100%;
	background-color: black;
	outline: 0px;
}

.AudioPlayer {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
}

.AudioContainer {
	position: relative;
	align-self: center;
	width: 75%;
	height: auto;
}

.AudioElement {
	object-fit: contain;
	width: 100%;
	height: 50px;
	outline: 0px;
}

.CloseButton {
	padding-right: 7px;
	cursor: pointer;
}

.playButton::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 0px;
	left: 8px;
	top: 5px;
	border-right: 10px solid transparent;
	border-left: 10px solid #fff;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
}

.pauseButton::before {
	content: "";
	position: absolute;
	width: 3px;
	height: 15px;
	border: 5px solid #fff;
	border-bottom: 0px solid transparent;
	border-top: 0px solid transparent;
	left: 6px;
	top: 5px;
}

.loadingButton::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	animation-name: loadingButton;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	left: 6px;
	top: 5px;
}

@keyframes loadingButton {
	50% {
		border-radius: 0px;
	}
	100% {
		border-radius: 5px;
	}
}

.gmail-mod-error-message {
	background-color: red;
	color: white;
	display: inline-block;
	position: fixed;
	bottom: 1em;
	margin: 1em;
	right: 4em;
	padding: 1.5em;
	border-radius: 0.25em;
	z-index: 10000;
}
