body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 2em;
}
video {
    position: relative;
    width: 100%;
    height: 100%;
}
#container {
    display: block;
    top: 0;
    bottom: 2rem;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
}

audio {
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
}

#loader {
    background-color: white;
    position: relative;
    margin: 5rem auto;
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    animation: wobble 2s ease-in-out alternate infinite;
    transform: rotate(0deg);
  }

  @keyframes wobble {
    0% {
      border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    }
    100% {
      border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
      transform: rotate(360deg);
    }
  }

footer {
    font-size: 0.5em;
    height: 2rem;
    color: white;
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
a {
    color: gainsboro;
}
a:hover {
    color: gray
}